{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Abhyuday ATM Personal Invite</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/invite.css' %}">

  <style>
    .btn{
      background-color: brown;
      color: #fff;
      padding: 10px;
      font-size: 1.5rem;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="center">
    <div class="container">
      <div class="text">
        <h1><span>ABHYUDAY</span><br>Coordinators' All Team Meet</h1>
      </div>
      <div id="clock"></div>

      <a href="{% url 'register' %}"><button class="btn">Register Now</button></a>
    </div>
  </div>


  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("June 5, 2021 17:00:00").getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.getElementById("clock").innerHTML = 
      `
      <div><span>0</span><span>Weeks</span></div>
      <div><span>${days}</span><span>days</span></div>
      <div><span>${hours}</span><span>Hr</span></div>
      <div><span>${minutes}</span><span>Min</span></div>
      <div><span>${seconds}</span><span>Sec</span></div>
      `
    
      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("clock").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>
  

</body>
</html>